#title{
    font-size: 50px;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
}
#text{
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
    margin-left: 6px;
}
#div1{
    border: 2px solid #000;
    border-radius: 10px;
}




