@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

h1 {
    font-size: 50px;
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
}
p {
    font-family: 'Wix Madefor Display', sans-serif;
    margin-left: 6px;
}
.container {
    border: 2px solid #000;
    border-radius: 10px;
}




